
<div class="wrapper">

  <div class="searchTitle">
    <input type="text" name="hello" value="" placeholder="Enter Tab1, Tab2 or Tab3" id="inputValue">
    <input type="button" name="" value="Search " id="searchBtn">
  </div>

  <div class="areaTabText">
      <h2 id="title">Tab1</h2>
        <div id="tab">
          Lorem ipsum dolor sit amet consectetur adipisicing elit
          sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua.Ut enim ad minim veniam, quis nostrud exercitation
          ullamco laboris nisut aliquip ex ea commodo.
        </div>
        <div class="imgTab1" id="img">

        </div>
</div>
    <div id="page">
      <ul>
        <li id="1"><a href="#">1</a></li>
        <li id="2"><a href="#">2</a></li>
        <li id="3"><a href="#">3</a></li>
      </ul>
    </div>
  </div>
